<?php
$_aloHelper   = $this->helper('Magiccart\Alothemes\Helper\Data');
$_image 	  = $_aloHelper->getConfigModule('newsletter/background_image');
if($_image) $_image = \Magento\Framework\App\ObjectManager::getInstance()->get('\Magento\Store\Model\StoreManagerInterface')->getStore()
						->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'magiccart/newsletter/' . $_aloHelper->getConfigModule('newsletter/background_image');
?>
<div class="block newsletter block-subscribe popup" style="display:none;">
	<div id="popup-newsletter" style="background-image:url('<?php echo $_image ?>')">
        <form class="form subscribe"
            novalidate
            action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
            method="post"
            id="newsletter-popup-validate-detail">
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('newsletter_popup')->toHtml();?>
        </form>
    </div>
</div>
<script type="text/javascript">
	require(['jquery', 'jquery/jquery.cookie', 'Magento_Ui/js/modal/modal', 'Magento_Customer/js/customer-data'], 
		function($, cookie, modal, customerData){
			"use strict";
			$('body').one('mousemove', function() { 
				if(!parseInt(Themecfg.newsletter.enabled)) return;
				(function(selector){
					var popupCookie = $.cookie('popupNewsletterOff');
					var overlay = Themecfg.newsletter.overlayColor;
					if(!popupCookie || popupCookie == 'undefined'){
						var $content = $(selector);
						var color   = Themecfg.newsletter.background_color;
						var timeDelay = parseInt(Themecfg.newsletter.timeDelay);
						var autoClose = Themecfg.newsletter.autoClose;
						var timeClose = timeDelay + parseInt(Themecfg.newsletter.timeClose);
						var popup   = $('#popup-newsletter', $content);
						var pwidth  = Themecfg.newsletter.width;
						var pheight = Themecfg.newsletter.height;
						pwidth   = typeof pwidth  !== 'undefined' ? pwidth : 800;
						pheight  = typeof pheight !== 'undefined' ? pheight : 400;
						overlay  = typeof overlay !== 'undefined' ? overlay : '#363636';
						if(!Themecfg.newsletter.background_image && color) popup.css('background-color', color);
						setTimeout( function() {
							if(!$('body').hasClass('_has-modal')){
								modal({
									type: 'popup',
									modalClass: 'popup-newsletter',
									responsive: true, 
									buttons: false                       	
								}, popup);
								popup.modal('openModal');
								$(".modal-popup.popup-newsletter .modal-inner-wrap").css({ "width":pwidth, "height":pheight }); 
							}
						}, timeDelay);
						if(Themecfg.newsletter.autoClose > 0) setTimeout(function(){ popup.modal('closeModal') }, timeClose);
						$('.subscribe-bottom input', popup).on('click', function(){
							if($(this).parent().find('input:checked').length){
								$.cookie('popupNewsletterOff', true, { expires : 10, domain: document.domain});
							} else {
								$.cookie('popupNewsletterOff', undefined);
							}
						});
						if(Themecfg.newsletter.firstOnly > 0) $.cookie('popupNewsletterOff', true);
						popup.find('.actions button').on('click', function(){
							var dataForm = $('#newsletter-popup-validate-detail');
							if($(dataForm).validation() && $(dataForm).validation('isValid')){
								$.cookie('popupNewsletterOff', true);
								$.cookie('popupNewsletterMessages', true, {domain: document.domain});
							}
						});
						$('.not-interested').click(function() {
							popup.modal('closeModal');
						});
					} else {
						if($.cookie('popupNewsletterMessages')){
							var messages = $.cookieStorage.get('mage-messages');
							if(messages.length){
								var $messages = $('.messages').attr('id', 'popupNewsletterMessages').wrap( "<div></div>" );
								setTimeout(function () {
									modal({
										type: 'popup',
										modalClass: 'popup-messages',
										responsive: true, 
										buttons: false                       	
									}, $messages);
									$messages.modal('openModal');
									
									$.cookie('popupNewsletterMessages', '', {domain: document.domain});
								}, 1000);
								setTimeout(function () {
									$messages.modal('closeModal');
								}, 5000);
							}
						}
					}

				})(".block-subscribe.popup");
			});
	});
</script>
