<?php
/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author: DOng NGuyen<nguyen@dvn.com>
 * @@Create Date: 2016-01-08 22:57:12
 * @@Modify Date: 2017-05-27 10:22:59
 * @@Function:
 */
 ?>
<?php if($this->getStatus() == 2) return; ?>
<?php $selector = 'alo-content-'.rand(0,999999999); ?>
<div class= "<?php echo $selector?> magiccategory-product magicproduct-custom +autoplay">
<?php
$tabs = $this->getTabs();
$title = $this->getTitle();
$numTabs = count($tabs);
if($numTabs): ?>
	<div class="magic-category">
		<div class="magic-category-main">
		<div class="block-title-tabs">
		<h3 class="type-product-title"><?php echo $title; ?></h3>
		<span class="toggle-tab mobile"><i class="fa fa-bars"></i></span>
		<ul class="magictabs toggle-content" data-ajax ='<?php echo $this->getAjaxCfg() ?>'>
		<?php $activated = $this->getTabActivated();
			$limit = $this->getLimit();
			$single = ($numTabs ==1) ? 'single' : '';
			foreach ($tabs as $type => $name):
				$status  = (!$this->getAjax() || $activated ==$type) ? 'loaded' : '';
				$status .= ($type == $activated) ? " activated $single" : '';
				echo '<li class="item '.$status.'" data-type ="'.$type.'"><span class ="title">'.__($name).'</span></li>';
			endforeach;
		?>
		</ul>
		</div>
		</div>
	</div>
<?php endif ?>
	<div class="ajax_loading" style="display:none" data-url="<?php echo $this->getUrl('magicproduct/index/category2', array('_secure'=>$this->getRequest()->isSecure()))?>"></div>
	<div class="box-product-content">
		<?php if($image = $this->getData('image') ) : ?>
		<?php $_category = $this->getCategory() ?>
		<div class="box-product-adv">
			<div class="promotion">
				<a href="<?php echo $_category->getUrl() ?>"><img src="<?php /* @escapeNotVerified */ echo $this->getImage($image);?>"></a>
			</div>
		</div> 
		<?php endif ?>
		<div class="box-product">
			<div class="content-products" 
			<?php foreach ($this->getFrontendCfg() as $opt) :?>
				data-<?php echo $opt ?>='<?php echo $this->getData($opt) ?>'
			<?php endforeach;?>

			>
			<?php 
				echo $this->getContent('category/grid-custom.phtml');	
			?>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	require([
		'jquery',
		'magiccart/slick',
		'magicproduct'
		], function($, slick, magicproduct){
			$(".<?php echo $selector?>").magicproduct({
				selector : ".<?php echo $selector?>", // Selector product grid
			});
		});
</script>
