<?php
    /** @var Dominik\Core\ViewModel\Checkout\Success\GtagConvertion $gtagConvertion */
    $gtagConversion = $this->getGtagConversion();
    $gtagConversion->loadOrderInformation($this->getOrderId());
    $payload = $gtagConversion->getPayload();
?>

<div id="gtag-ref"></div>

<script type="text/x-magento-init">
    {
        "#gtag-ref": {
            "gtag-conversion": {
                "payload": "<?=$payload?>"
            }
        }
    }
</script>
