<?php
    $pixInfo = $this->getPixInfo();
    if (!empty($pixInfo) && $this->getInfo()->getOrder()->getStatus() == 'pending'):
?>
    <span><?php echo __($this->getTitle()) ?></span>
    <hr />
    <div style="text-align: center">
        <img width="130" style="margin-bottom: 10px" src="https://files.readme.io/33406b9-Logo.png" />
        <img width="130" style="margin-bottom: 10px" src="<?= $pixInfo['qr_code_url']?>" />
        <span style="word-wrap: break-word;"><?= $pixInfo['qr_code']?></span>
    </div>
<?php else: ?>
	<span><?php echo __($this->getTitle()) ?></span>
    <br />
    <img width="130" style="margin-bottom: 10px" src="https://files.readme.io/33406b9-Logo.png" />
<?php endif ?>
