@media (min-width: 1200px) {
}
/* 960px <= width < 1200px */
@media only screen and (min-width: 960px) and (max-width: 1200px) {
}

@media(max-width:1200px) {
}

/* 992px <= width < 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
	.top-banner .container-offer{width: 970px;}	
	.magicmenu .nav-desktop .level0.home{padding:0;}
	.magicmenu .nav-desktop .level0.logo.display .level-top{padding: 26px 15px;}
	.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children,.vmagicmenu .level0 .level-top-mega .mage-column .children{width:180px;}
	.cms-index-index .vmagicmenu .block-vmagicmenu-content {opacity: 0;visibility: hidden;}
	.cms-index-index .vmagicmenu:hover .block-vmagicmenu-content {opacity: 1;visibility: visible;}
	.vmagicmenu{width: 50px;}
	.vmagicmenu .block-title .vmagicmenu-subtitle{display: none;}
	.vmagicmenu .block-title{padding: 0 15px;}
	.vmagicmenu .vmagicmenu-narrow >li:nth-child(n+11) { display: none; }
	.all-cat{margin-top: 7px;}
	.hot-categories .cate-box{padding: 8px;}
	.product-view .product-shop .add-to-cart button.button span span{padding:0 23px;}
	.product-view .product-options .swatch-view, .product-view .product-options .option-view{margin-right: 15px;}
	/* Banner*/
	.banner-boder-zoom a img {max-width: 100%;}
	.store-contact .store1,.store-contact .store2,.store-contact .store3,.store-contact .store4{padding: 0;}
	.store-contact .store-item{text-align: center;}
	.store_info .flex{padding: 10px 0 0;width: 100%;}
	/* Blog */
	.post-posed-date span{font-size: 14px;}
	.post-info a.post-item-link{font-size: 15px;}
	.footer .collapsible .form-subscribe-header p,.logo-text{font-size: 15px;}
}	

@media(max-width:991px) {
	.nav-open .nav-toggle:after {background: rgba(0, 0, 0, 0.01) none repeat scroll 0 0;content: "";display: block;height: 100%;position: fixed; right: 0;top: 0;width: 100%;z-index: 1;}
	.nav-before-open.nav-open .nav-toggle{background-color: #333;height: 30px;line-height: 26px;left: auto;position: fixed;right: 0;top: 0;width: 30px;text-align: center;padding: 0;}
	.nav-before-open .nav-toggle:before{position: static;content: "\f00d";font-family: FontAwesome;color: #fff;font-size: 20px;}
	.nav-before-open .nav-toggle:hover:before{color: #fff;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.container {padding-left: 15px;padding-right: 15px;}
	.top-banner .container-offer{width: 750px;}
	.header-top{text-align: center;}
	.header-top .mobile-center{display: inline-block;width: auto;}
	.header-top .header-top-link{float: none;display: inline-block;}
	.header-content {padding-bottom: 20px;}
	.mean-container a.meanmenu-reveal{padding: 15px;}
	.mean-container .mean-nav .mobi-title{line-height: 42px;padding: 0 0 0 70px;}
	.header-bottom.header-container-fixed{position: static;}
	.magicmenu .nav-desktop .level0 .level-top > span{font-size: 14px;}
	.magicmenu .nav-desktop .level0.home{padding:0;}
	.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children{width:155px;}
	.magicmenu .nav-desktop .level0 .level-top-mega .children .level-3 a{font-size:14px;}
	.nav-sections-item-content .vmagicmenu,.nav-sections-item-content .magicmenu .nav-desktop,.header-logo .nav-toggle{display: none !important;visibility: hidden;}
	.nav-sections .mean-container .mean-nav ul.nav-mobile{display: block !important;}
	.menu-mobile .nav-toggle{display: inline-block;position: static;line-height: 20px;padding: 18px 0 0 10px;vertical-align: top;}
	.nav-toggle { cursor: pointer;display: block;font-size: 0;text-decoration: none;top: 0px;z-index: 14;right: 50px;}
	.nav-toggle:before {content: "\f0c9";font-family: FontAwesome;display: inline-block;font-size: 21px; font-weight: normal;line-height: inherit;overflow: hidden;text-align: center;vertical-align: middle;}
	.nav-sections {background: #fff none repeat scroll 0 0;height: 100%;left: calc(-1 * (100% - 54px));overflow: auto;position: fixed;top: 0;transition: left 0.3s ease 0s;-moz-transition: left 0.3s ease 0s;-webkit-transition: left 0.3s ease 0s;-o-transition: left 0.3s ease 0s;-ms-transition: left 0.3s ease 0s;width: calc(100% - 54px);}
	.nav-open .nav-sections {left: 0;z-index: 99;}
    .nav-before-open .page-wrapper {height: 100%;left: 0;overflow: visible;position: fixed;transition: left 0.3s ease 0s;-moz-transition: left 0.3s ease 0s;-webkit-transition: left 0.3s ease 0s;-o-transition: left 0.3s ease 0s;-ms-transition: left 0.3s ease 0s;}
    .nav-open .page-wrapper {left: calc(100% - 0px);}
    .nav-before-open body {height: 100%;overflow: hidden;position: relative;width: 100%;}
	.nav-before-open {height: 100%;width: 100%;}
	.nav-sections-item-content > .navigation{padding: 0;}
	.nav-sections-item-content > .navigation .nav-mobile{display: block !important;padding: 0;}
	.nav-open .nav-toggle:after {background: rgba(0, 0, 0, 0.01) none repeat scroll 0 0;content: "";display: block;height: 100%;position: fixed; right: 0;top: 0;width: 100%;z-index: 1;}
	
	/* Logo Search and Cart */
	.content-logo {text-align: center;width: 100%;}
	.header .logo{display: inline-block;}
	.content-seach {padding-left: 15px; padding-right: 15px;}
	.header .header-search,.tool-header, .minicart-wrapper{margin-top: 0;}

	/* Style Slide*/
	.home-slider .text-slide.text-slide2 {top: 25%;}
	.home-slider:hover .slick-prev {left: 10px;margin-left: 0;}
	.home-slider:hover .slick-next {margin-right: 0;right: 10px;}

	/* hot category and service */
	.block-view .block-content-left{width: 100%;padding-right: 15px;}
	.block-view .block-right{width: 100%;padding-left: 15px;margin-top: 10px;}
	.service .container{padding: 0;}
	.service .service-item{padding: 10px;}
	.service .service-item h3{font-size: 16px;}
    .service .service-item .icon {text-align: center;width: 100%;float: none;}
    .service .service-item .icon img{display: inline-block;}
    .service .service-item .info {padding-left: 0;text-align: center;width: 100%;}
    .store-contact .store1,.store-contact .store2,.store-contact .store3,.store-contact .store4{padding: 0;}
	.store-contact .store-item{text-align: center;}
	.store_info .flex{padding: 10px 0 0;width: 100%;}
	.page-team-content .sub-text{width: 700px;}
	.banner-boder-zoom a img {max-width: 100%;}

	.brand-box .block-image,.brand-box .block-content-right{width: 100%}
	.brand-box .block-content-right{padding-left: 0;}

	.data.table .custom-qty{width: 40px;}
	.cart-container .cart.main .action{margin-bottom: 10px;}
	.blog_short_text{padding: 50px 0 0 15px;}
	.blog_short_text a span{font-size: 13px;line-height: normal;}
	.blog_short_text p{font-size: 12px;}
	.block-newletter { text-align: left;padding-top: 20px;}
	.no-display{display:inline-block !important;}
	.link-view,.item .add-to-links a.quickview{display: none !important;}
	.image-inner img{width: 100%;}
	.item_inner .img img{margin: 0 auto;}
    .page-layout-2columns-left .product-view .product.media, .page-layout-2columns-right .product-view .product.media, .page-layout-3columns .product-view .product.media,
    .page-layout-2columns-left .product-view .product-info-main, .page-layout-2columns-right .product-view .product-info-main, .page-layout-3columns .product-view .product-info-main{width: 100%;}
	.product-view .product-shop {padding-top: 20px;}
	.product-view .product-shop .no-display{display:none !important;}
	.product.data.items .items-tabs{width: 30%;}
	.product.data.items .data-tabs-content{width: 70%;}
	.block-viewed .block-content, .block-reorder .block-content{padding:0 10px;}
	.block-layered-nav dd{padding: 0 0 10px;}
	.swatch-link, .swatch-label{font-size: 10px}
	#narrow-by-list dd .swatch-link{margin-right: 0;}
	.sidebar .nav-accordion{padding: 5px;}
	ul.nav-accordion li a{padding: 0 0 0 15px;}
	ul.nav-accordion ul{padding: 0 0 0 10px;}
	.block .block-content, .block.block-compare .empty{padding: 10px;}
	.sidebar .block-custom-product .images-container,.sidebar .block-custom-product .products-textlink{width: 100%;}
    .sidebar .block-custom-product .products-textlink{padding: 10px 0 0;}
	#narrow-by-list dd .configurable-swatch-list li, #narrow-by-list dd ol.configurable-swatch-list li{width: 100%;}
	.products-list .actions-list .button.btn-cart span span.view-cart{margin: 0;padding: 0px; text-align: center;float: none;}
	.products-list .actions-list .button.btn-cart span span{padding: 0 17px 0 10px;}
	.collapsible{margin-top: 15px;clear: both;}
	.block-footer-bottom .footer .block-title{font-size:15px;}
	.footer-copyright,.footer-links-company .links{float: none;}
	.footer-copyright{padding-bottom: 0;}
	.footer-links-company .links{padding-top: 0;}
	.footer-links-company .links a{line-height: normal;}
	.clearboth{clear: both;}
    .cart-table td {padding: 15px 13px;}
    .data-table tbody tr td .product-name a, .data-table tbody tr td .cart-price .price{font-size: 12px;}
}

/* Iphone 5 landscape */
@media(max-width:767px) {
	.cms-index-index .top-banner{display: none;}
	.top-banner .container-offer{width: 100%;padding: 0 15px;}
	.container { padding-left: 15px;padding-right: 15px;}
	.page-header{border: 0;}
	.header-top{text-align: center;padding-bottom: 5px;}
	.header-top .mobile-center{display: inline-block;width: auto;}
	.header-top .header-top-link{float: none;display: inline-block;}
	.header-top .top-right {clear: both;}
	.header .header-setting,.currency_top, .top-form-language,.page-header .switcher{float: none;text-align: center;display: inline-block;vertical-align: top;}
	.header-content {padding-bottom: 20px;}
	.nav-sections-item-content .vmagicmenu,.nav-sections-item-content .magicmenu .nav-desktop,.header-logo .nav-toggle,.nav-sections-item-title,.sidebar .accordion-container{display: none !important;visibility: hidden;}
	.nav-sections .mean-container .mean-nav ul.nav-mobile{display: block !important;}
	.menu-mobile .nav-toggle{display: inline-block;position: static;line-height: 20px;padding: 52px 0 0 10px;vertical-align: top;}
	.nav-toggle { cursor: pointer;display: block;font-size: 0;text-decoration: none;top: 0px;z-index: 14;right: 50px;}
	.nav-toggle:before {content: "\f0c9";font-family: FontAwesome;display: inline-block;font-size: 21px; font-weight: normal;line-height: inherit;overflow: hidden;text-align: center;vertical-align: middle;}
	.nav-sections {background: #fff none repeat scroll 0 0;height: 100%;left: calc(-1 * (100% - 54px));overflow: auto;position: fixed;top: 0;transition: left 0.3s ease 0s;-moz-transition: left 0.3s ease 0s;-webkit-transition: left 0.3s ease 0s;-o-transition: left 0.3s ease 0s;-ms-transition: left 0.3s ease 0s;width: calc(100% - 54px);}
	.nav-open .nav-sections {left: 0;z-index: 99; box-shadow: none;}
    .nav-before-open .page-wrapper {height: 100%;left: 0;overflow: visible;position: fixed;transition: left 0.3s ease 0s;-moz-transition: left 0.3s ease 0s;-webkit-transition: left 0.3s ease 0s;-o-transition: left 0.3s ease 0s;-ms-transition: left 0.3s ease 0s;}
    .nav-open .page-wrapper {left: calc(100% - 0px);}
    .nav-before-open body {height: 100%;overflow: hidden;position: relative;width: 100%;}
	.nav-before-open {height: 100%;width: 100%;}
	.nav-sections-item-content > .navigation{padding: 0;}
	.nav-sections-item-content > .navigation .nav-mobile{display: block !important;padding: 0;}
	.nav-open .nav-toggle:after {background: rgba(0, 0, 0, 0.01) none repeat scroll 0 0;content: "";display: block;height: 100%;position: fixed; right: 0;top: 0;width: 100%;z-index: 1;}
	
	/* Logo Search and Cart */
	.content-logo {text-align: center;width: 100%;}
	.header .logo{display: inline-block;}
	.content-seach {padding-left: 15px; padding-right: 15px;}
	.header .header-search{margin-top: 0;}
	.content-cart{text-align: center;}
	.minicart-wrapper{position: static;}
	.minicart-wrapper .block-minicart{width: 100%;}

	/* Style Slide*/
	.home-slider .text-slide{left: auto;margin-left: 0;top: 70px;}
	.home-slider .text-slide.text-slide3 {margin-left: 0; left: auto;top: 70px;}
	.home-slider .text-slide.text-slide2 {top: 12%; left: auto;}
	.home-slider:hover .slick-prev {left: 10px;margin-left: 0;}
	.home-slider:hover .slick-next {margin-right: 0;right: 10px;}

	.block-view .block-content-left{width: 100%;padding-right: 15px;}
	.block-view .block-right{width: 100%;padding-left: 15px;margin-top: 10px;}
	.service .container{padding-left: 0;padding-right: 0;}
	.service .col-xs-4{width: 100%;}
	.service .service-item{margin-bottom: 15px;}
	.banner-boder-zoom{max-width: 580px;margin: 0 auto 5px;}
    #popup-newsletter{width: 100% !important;background-image: none !important;background-color: #ffffff;}
	#fancybox-wrap ,#fancybox-overlay{display: none !important;}
	#popup-newsletter .block-content{width: 100%;float: none;}
	#popup-newsletter .block-content .promotions{margin: 0;text-align: center;}
	#popup-newsletter .block-content h3,#popup-newsletter .subscribe-bottom{text-align: center;}

	.store-contact .store2 .store-item{border: 0;}
	.store_info li:last-child {padding-bottom: 30px;}
	.our-story .block-content{margin-top: 40px;}
	.page-team-content .sub-text{width: 100%;}

	.brand-box .block-image,.brand-box .block-content-right{width: 100%}
	.brand-box .block-content-right{padding-left: 0;}
	.banner-boder-zoom a img {max-width: 100%;}

	.magiccategory{position: relative;}
	.box-products-two .magiccategory .toggle-tab.mobile{z-index: 32;}
	.magiccategory .toggle-tab.mobile {color: #333;font-size: 20px;line-height: 20px; padding: 10px 0;display: none !important;}
	.magiccategory .toggle-tab.mobile:before{content: "\f0c9";font-family: FontAwesome;}
	.magic-category.toggle-visible .toggle-tab.mobile:before{content: "\f00d";}
	.magiccategory .toggle-content{display: inline-block;clear: both;}
	.magiccategory .toggle-content.visible {display: block;}
	.magiccategory .magictabs{float: none;background-color: #fff;}
	.magictabs .item,.magictabs .item .title{display: block;}
	.shopbrand .slick-arrow, .alo-blog .slick-arrow, .content-products .products .slick-arrow{opacity: 1;visibility: visible;}
	.content-products .products .slick-next, .alo-blog .block-content .slick-next, .shopbrand .slick-next {right: 5px;transform: translate(0px, 0px); -moz-transform: translate(0px, 0px);-webkit-transform: translate(0px, 0px);-o-transform: translate(0px, 0px);-ms-transform: translate(0px, 0px);}
	.content-products .products .slick-prev, .alo-blog .block-content .slick-prev, .shopbrand .slick-prev {left: 5px;transform: translate(0px, 0px); -moz-transform: translate(0px, 0px);-webkit-transform: translate(0px, 0px);-o-transform: translate(0px, 0px);-ms-transform: translate(0px, 0px);}

	.col-left{margin-top: 30px;}
	.header-container-fixed{position: static;}
	.no-display{display:inline-block !important;}
	.block.block-reorder .no-display{display: none !important;}
	.block-collapsible-nav{position: static;}
	.dropdown-switcher ul {margin: 0;}
	.header .mini-maincart {position: static;}
	.header .cartSummary {position: relative;}
	.miniCartWrap .icons{padding: 6px;font-size: 24px;}
	.crat-icon .zero, .crat-icon .item{height: 20px;line-height: !important;width: 20px;}
	.cartSummary span.item, .cartSummary span.zero, .cartSummary span.price {font-size: 12px;}
	.dispaly-phone{text-align: center;margin:10px 0 0;}

	/* blog */
	.alo-blog .post-posed-date span{font-size: 12px;}
	.alo-blog .post-info a.post-item-link{font-size: 15px;line-height: 20px;}
	.cms-index-index .alo-blog{ margin: 0 0 40px;}

	.box{padding-bottom: 0;}
	.box-top img{width: 100%;}
	#magicshop_quickview_handler{display:none !important;}
	.link-view,.item .add-to-links a.quickview{display: none !important;}
	.magictabs .item{padding: 0;}
	.magictabs .item span{font-size:12px;}
	.block-title h2 span.title-top {font-size: 30px;padding: 0 0 20px;}
	.about-us h2{font-size: 20px;}
	.image-inner img{width: 100%;}
	.about-us .image-inner .border-mask{display: none;}
	.about-us .col3-set .col1{margin-bottom: 0;}
	.about-us .col3-set2{padding-bottom: 0;}
	.item_inner .img img{margin: 0 auto;}

	.breadcrumbs li{margin-bottom: 10px;}
	.breadcrumbs li:last-child{margin-bottom: 0;}
	.page-layout-2columns-left .column.main, .page-layout-2columns-right .column.main,
	.page-layout-2columns-left .sidebar-main, .page-layout-2columns-left .sidebar-additional, 
	.page-layout-2columns-right .sidebar-main, .page-layout-2columns-right .sidebar-additional {width: 100% !important;}
	.page-layout-2columns-left .product-view .product.media, .page-layout-2columns-right .product-view .product.media, .page-layout-3columns .product-view .product.media,
    .page-layout-2columns-left .product-view .product-info-main, .page-layout-2columns-right .product-view .product-info-main, .page-layout-3columns .product-view .product-info-main{width: 100%;}
	.product-view .product-shop {padding-top: 20px;}
	.sidebar .block-custom-product .product-items .product-item-info .product-item-photo{position: static;}
	.sidebar .block-custom-product .product-items .product-item-details{margin: 0;}
	.product-view .product-shop .no-display{display:none !important;}
	.product-collateral .box-reviews .data-table thead th{text-transform: capitalize;}
	.product-view .product-info-main {padding-top: 20px;}
	.product.data.items .items-tabs,
	.product.data.items .data-tabs-content{width: 100%;border: 0 none;}
	.nobr{font-size:12px;}
	/* cart checkout */
	.cart.table-wrapper thead{display: none;}
	.cart.table-wrapper .item .col.item{padding:25px 0 10px 75px;}
	.cart.table-wrapper .product-item-photo{position: static;max-width: 100%;}
	.cart.table-wrapper .actions-toolbar{position: relative;min-height: 20px;padding-bottom: 30px;}
	.cart.table-wrapper .actions-toolbar > .action-edit, .cart.table-wrapper .actions-toolbar > .action-delete {display: inline-block;position: absolute;right: 16px;text-decoration: none;top: 0;}
	.cart.table-wrapper .action {margin-right: 15px;}
	.cart.table-wrapper .action:last-child {margin-right: 0;}
	.cart.table-wrapper .actions-toolbar > .action-delete {right: 0;}
	.data-table tbody tr td .cart-price .price{font-size: 12px;}
	.cart-container .cart.main .action{margin-bottom: 10px;}
	.cart .page-title{padding:10px 0;}
	/* login */
	.abs-discount-block-desktop .block:nth-child(1), .login-container .block:nth-child(1), .account .column.main .block:not(.widget) .block-content .box:nth-child(1), .block-addresses-list .items.addresses > .item:nth-child(1), .form-edit-account .fieldset:nth-child(1), .form-address-edit .fieldset:nth-child(1), .storecredit .block:nth-child(1), .paypal-review-discount .block:nth-child(1), .cart-discount .block:nth-child(1) {clear: both;float: none;}
	.abs-discount-block-desktop .block:nth-child(2), .login-container .block:nth-child(2), .account .column.main .block:not(.widget) .block-content .box:nth-child(2), .block-addresses-list .items.addresses > .item:nth-child(2), .form-edit-account .fieldset:nth-child(2), .form-address-edit .fieldset:nth-child(2), .storecredit .block:nth-child(2), .paypal-review-discount .block:nth-child(2), .cart-discount .block:nth-child(2) { float: none;}
	.account .column.main .block:not(.widget) .block-content .box{width: 100%;margin-bottom: 30px;}
	.login-container .fieldset::after{text-align: left;margin-bottom: 30px;margin-top: 10px;}
	.login-container .block{float: none;width: 100%;}
	.login-container .actions-toolbar .secondary{padding-top: 10px;}
	/* compare */
	.block-compare .actions-toolbar .primary,.block-compare .actions-toolbar .secondary{display: inline-block;vertical-align: middle;}
	.block-compare .actions-toolbar .secondary{padding-left: 10px;}

	.cart .crosssell{margin:20px 0 0 0;}
	.main .col-main {padding: 0 15px;}
	.product-image-gallery .gallery-image.visible {width: 100%;}
	.cart .totals {margin: 0 0 15px 0;}
	.checkout-onepage-index .main-container {padding-top: 0;}
	.customer-account-index .main-container { margin-top: 0;}
	.footer .block-title,.social-feed .section-title h4 {padding: 0;}
	.mobile-collapsible{clear: both;margin-bottom: 20px;position: relative;}
	.footer .block-content-statick .list-inline li{float: none;}
	.support-footer-inner .row-normal{margin-bottom: 20px;}
	.support-footer-inner .support-info .info-title{font-size: 13px;}
	.block_bottom{padding: 25px 0;}
	#backtotop{display:none !important;}

	.toggle-tab.mobile{color: #666;cursor: pointer;display: block !important;font-size: 17px;font-weight: bold;line-height: 20px;margin: 0;padding: 0;position: absolute;right: 0;text-align: center;top: 0;width: 19px;}
	.toggle-content{ display: none;}
	.toggle-content.visible{ display: block;}
	.toggle-tab:before{content: "\f107";font-family: FontAwesome;}
	.toggle-visible .toggle-tab:before{ content: "\f106";}
	.narrow-by{position: relative;padding: 5px 0;outline:medium none !important;margin: 0;}
}

@media only screen and (max-width: 575px) {
	.col-mobile-plus-12{width:100%}
	.col-mobile-plus-6{width:50%}
	.col-mobile-plus-4{width:30.3333333333%}
	.col-mobile-plus-3{width:25%}
	.col-mobile-plus-2{width:16.6666666666%}
	.col-mobile-plus-1{width:8.33333333333%}
	.col2-set .col-1 { width: 100%;margin-bottom: 20px;}
	.col2-set .col-2 {float: right;width: 100%;}
	.header.links{float: none;width: 100%;}
	.header-top-link ul.links li {float: none;display: inline-block;}
	.home-slider .slick-slide.slick-active .figcaption .caption1{font-size: 15px;line-height: 15px;margin-bottom: 5px;}
	.home-slider .slick-slide.slick-active .figcaption .caption2{font-size: 13px;}
	.home-slider .slick-slide.slick-active .figcaption .btn-shop{line-height: 35px;}
	.account-login .content { min-height: 100px;}
	.account-login .buttons-set {margin: 0; padding: 0;}
	.store-contact .store1,.store-contact .store2,.store-contact .store3,.store-contact .store4{width: 100%;}
	.store-contact .store1 .store-item,.store-contact .store2 .store-item,.store-contact .store3 .store-item,.store-contact .store4 .store-item{border:0;}
	.modes,.toolbar-products .pages{float: none;vertical-align: middle;display: inline-block;}
	.modes, .toolbar-products .pages,.toolbar .limiter, .toolbar .sorter{padding: 5px 0;}
	.sorter{padding: 0;}
	.product.data.items > .item.title{display: block;width: 100%;margin: 0;padding: 0;background-color: #eee;}
	.product.data.items > .item.title.active{background-color: #fff;}
	.product.info.detailed .product.data.items > .item.title .switch::after,.product.data.items > .item.title::before{display: none;}
	.product.data.items > .item.title > .switch{padding: 10px;}
	.form-wishlist-items .actions-toolbar button{margin:0 0 5px 0;}
}

@media only screen and (min-width: 480px) and (max-width: 575px) {
	.data-table td.last { border-bottom: 1px solid #dddddd !important;}
	.data-table tfoot {border-bottom: none;}
	.data-table thead th{border-left: 1px solid #dddddd;border-bottom: 0 none;}
	.data-table thead.hidden-phone{display:none;}
	.data-table tbody th, .data-table tbody td{border-bottom: 0;}
	.product-view .box-reviews .form-add .data-table td{border-bottom: 1px solid #DDDDDD !important;}
}

/* width < 480px */
@media only screen and (max-width: 479px) {
	.col-mobile-12{width:100%}
	.col-mobile-6{width:50%}
	.col-mobile-4{width:30.3333333333%}
	.col-mobile-3{width:25%}
	.col-mobile-2{width:16.6666666666%}
	.col-mobile-1{width:8.33333333333%}
	.home-slider .text-slide,.home-slider .text-slide.text-slide3{top: 20px;}
	.home-slider .slick-slide.slick-active .figcaption .caption4,
	.home-slider .slick-arrow{display: none;}
	.home-slider:hover .slick-arrow{opacity: 0;visibility: hidden;}
	.block-title h2 span {font-size: 20px;}
	.cartSummary .icon-cart {font-size: 17px;}
	.nbs-flexisel-item img {display: inline-block;}
	.cart-table td{padding: 10px;}
	.content-cart,.minicart-wrapper{position: static;}
	.minicart-wrapper .block-minicart{width: 90%;margin: 0 20px;}
	.products-list .images-container,.products-list .item .products-textlink{width: 100%;}
	.products-list .item .products-textlink{padding: 10px 0 0;}
	.products-list .product-shop{padding-top: 10px;}
	.category-products .products-grid .item.col-mobile-12{padding-left: 10px;padding-right: 10px;}
	.product.data.items > .item.content{padding: 55px 0 20px;}
	.product-view .product-qty .custom-qty, .block-bundle-summary .product-details .product-qty .custom-qty{margin: 0 20px 0 0;}
	.product-view .toggle-tabs .item, .product.data.items > .item.title{letter-spacing: 0;}
	.wishlist-index-index .products-grid.wishlist .product-item{width: 100%;}
}

/* Iphone 4 landscape */
@media (max-width: 360px) {
	.category-products .products-grid > li {width: 100%;}
	.block-static.alo-blog .blog-image, .block-static.alo-blog .blog_short_text {float: left;width: 100%;}
	.alo-blog .slick-slider .slick-next,.alo-blog .slick-slider .slick-prev{top: 35%;}
	.data.table .custom-qty{width: 40px;}
	.product-view .add-to-cart{margin-top: 20px;}
	.crazy-team-slide .item{width: 100%;}
	.service .service-item{padding: 20px 10px 20px 10px;}
	.service .service-item .info{padding-left: 100px;}
	.service .service-item h3{font-size: 13px;}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.checkout-cart-index .col-main .page-title h1, .checkout-cart-index .col-main .page-title h2 {float: none;text-align: center;}
	.col2-set,.col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.account-login .col2-set,.account-login .col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.multiple-checkout .col2-set .col-1,.multiple-checkout .col2-set .col-2 {float: none;width: 100%;margin-bottom: 10px;}
	.my-wishlist .buttons-set {text-align: center; padding: 20px 0 0;}
	.my-wishlist thead.hidden-phone{display:none;}
	a.btn-edit, a.btn-remove{margin:0 auto;float:none;}
	.mini-contentCart .product-details a.btn-remove,.mini-contentCart .product-details a.btn-edit{float: left;margin: 0 5px 0 0;}
	#toPopup{left:18%;top: 10%;}
	.box-support ul li{margin-top:10px;}
	.box-up-sell{margin-bottom:15px;}
} 

/* IPHONE 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {
	#products-list .item .product-shop{ margin-top: 20px;}
	.product-view .product-shop .add-to-links a{margin-bottom:10px;display:inline-block;}
	#toPopup{left:3%;}
	.box-up-sell{margin-bottom:15px;}
	.product-shop .ratings .rating-links{ margin: 10px 0px 10px;}
	.testimonials .title-name {font-size: 11px;}
	.alo-blog .blog_short_text {padding: 0 0 0 20px;}
	.post-date{margin-bottom: 15px;}
}

@media only screen and (min-width: 240px) and (max-width: 319px) {
	.sorter .view-mode,.sorter .sort-by,.sorter .limiter,.sorter .pull-right{width: 100%;text-align: left;}
}







