<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="footer-copyright">
	<div class="main1">
		<small class="copyright">
		<span><?php /* @escapeNotVerified */ echo preg_replace('/yyyy/', date('Y'), $block->getCopyright()); ?></span>
		</small>
	</div>
	<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('payment_method')->toHtml();?>
	<a href="#" id="backtotop"><span class="fa temaelectro fa-angle-up"></span><span class="back-to-top"><?php echo __('Back to Top')?></span></a>
</div>
<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('mapa-dominik')->toHtml();?>
<a data-whats="botao-whatsapp" href="https://api.whatsapp.com/send?phone=5548984039291&amp;text=Ol%C3%A1,%20preciso%20de%20ajuda!" target="_blank" title="Fale conosco via WhatsApp"><img width="90" height="90" src="https://cdn-icons-png.flaticon.com/512/1384/1384055.png" frameborder="0" style="position:fixed;z-index:1000;bottom:15px;right:44px;max-width: 50px;" alt="Fale conosco via WhatsApp" title="Fale conosco via WhatsApp" data-no-retina=""> </a>
