.cms-index-index .header-bottom .vmagicmenu .nav-desktop.vmagicmenu-narrow {
    display: none;
}

.menu_base_style {
    height: calc(~"100vh - 200px");
    direction: rtl;
    box-shadow: rgba(40, 41, 61, 0.04) 0px 2px 4px, rgba(96, 97, 112, 0.16) 0px 8px 16px!important;
    overflow: hidden auto;
}
.vertical-menu {
    .submenu {
        height: calc(~"100vh - 30rem");
        direction: rtl;
        box-shadow: rgba(40, 41, 61, 0.04) 0px 2px 4px, rgba(96, 97, 112, 0.16) 0px 8px 16px!important;
        overflow-x: hidden;
        overflow-y: scroll;
        line-height: 2.5rem;
        .category-item {
            padding: 0 0.5rem;
            line-height: 3.5rem;
        }
    }

    ul::-webkit-scrollbar-thumb {
        background-color: #fed900;
        border-radius: 2.0rem;
        border: #fff;
    }

    ul::-webkit-scrollbar {
        width: 3px
    }

    .nav-desktop {
        height: calc(~"100vh - 30rem");
        direction: rtl;
        box-shadow: rgba(40, 41, 61, 0.04) 0px 2px 4px, rgba(96, 97, 112, 0.16) 0px 8px 16px!important;
        border-radius: 0!important;
        padding-top: 2rem;
        .category-item {
            a {
                border: 0px!important;
            }
        }
    }
    .block-title-vmagicmenu {
        border-radius: 0;
    }
}
