/* AJUSTE BUG PAGESPEED */

.header-sticker-a .header-bottom{
    background-color:#fed900;
}

.header-sticker-a .header-bottom .nav-sections-item-content>.vertical-menu{
    background-color:#171717;
    color: #fff;
}


.header-sticker-a .header-bottom .vertical-menu .block-vmagicmenu-content .submenu{
    background-color:#fff;   
    color: #272727
}

.cms-static-page-bottom{
    background-color: #272727;    
}
.cms-static-page-bottom .panel-text, .cms-static-page-bottom .panel-text2 {
    color: white !important;
}
.magicmenu .nav-desktop .level0.over>a, 
.magicmenu .nav-desktop .level0.active>a, 
.magicmenu .nav-desktop .level0.active>a span.icon-text, 
.magicmenu .nav-desktop .level0>a:hover{
   color: #fff;
    background-color: #1d1d1d;
}
.magicmenu .nav-desktop .level0>a.logo,
.magicmenu .nav-desktop .level0>a:hover.icon-text a.logo{
    color: #fff;
    background-color: unset !important;
    
}
.table-checkout-shipping-method{
    font-size: 16px;
}
.table-checkout-shipping-method tbody tr td:first-child, .table-checkout-shipping-method thead th:first-child {
    width:10px !important;    
    display:block;
    max-width:100px;
    
}
.table-checkout-shipping-method tbody tr:first-child td {
    border-top: none;
}

.page-main.page-main-pal.container .checkout-success p, 
.page-main.page-main-pal.container .columns .column.main div {
    font-size: 14px;
}

.block.block-minicart.ui-dialog-content.ui-widget-content {
    background-color:#ffffff !important;
    border: 2px solid #818181;
}
#btn-minicart-close.action.close{
    background-color: #cdc9c9;
}


/* FIM AJUSTE BUG PAGESPEED */

/* AJUSTE BANNER TOPO FRETE GRATIS */
.banner-topo-frete-gratis .widget.block.block-static-block{
        margin-bottom:0px !important;    
}

p.banner-header-top-desktop img {
    width: 100%;
}
/* FIM BANNER TOPO FRETE GRATIS */

span.customer-name , 
.deal-stock-label {
    display:none !important;
}
/* DEBUG */
     h1.hide-debug {
              display:none;
     }
/* FIM DEBUG */

/* Ajuste container sobre slider */
main#maincontent{
    position:relative;
}

@media (min-width:1920px){
    div.slide-showcase div.slide-home.cms-static-main-slide div .magicslider.grid-slider.home-slider{
    	height: 600px !important;
    }    
}
@media (max-width:1920px){
    div.slide-showcase div.slide-home.cms-static-main-slide div .magicslider.grid-slider.home-slider{
    	height: 450px !important;
    }    
}
@media (max-width:1600px){
    div.slide-showcase div.slide-home.cms-static-main-slide div .magicslider.grid-slider.home-slider{
    	height: 400px !important;
    }    
}
@media (max-width:1400px){
    div.slide-showcase div.slide-home.cms-static-main-slide div .magicslider.grid-slider.home-slider{
    	height: 340px !important;
    }    
}

/*fim Ajuste container sobre slider*/

img{
display:unset
}
.saiba-mais-cookies{
 color:  #fed700;
 font-weight: bold;
 
}
.magepow-gdpr-cookie-notice .content .actions {
    flex: auto;
}

.products.wrapper.grid.products-grid.category-product-gridproducts.wrapper.grid.products-grid.category-product-grid
.product-item-info {
    display: block;
    min-height: 300px;
}

/* Botão Busca header */
button.action.search.button {
    background-color: #333333 !important;
}
button.action.search.button:hover {
    background-color: #818181;
}
button.action.search.button .fa-search:before{
    color: white !important;
}
@media (max-width: 991px){
        .search-area.header-search i{
        filter: invert();
        font-weight: 600;
    }
}

.searchsuite-autocomplete ul li .qs-option-info .qs-option-shortdescription, .searchsuite-autocomplete ul li .qs-option-info .qs-option-description {
    color: #b1acac;
    font-size: 12px;
}

/* fim botão busca header*/

/* Fundo branco central */
#maincontent{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px
}
/* fim Fundo branco central */

/*correção Menu Bugado*/
.level2{
        border-bottom: unset !important;
}



.nav-sections-item-content .nav-1-1 ul.level1.submenu {
    top: -20px !important;
}
.nav-sections-item-content  .nav-1-2 ul.level1.submenu {
    top: -43px !important;
}
.nav-sections-item-content  .nav-1-3 ul.level1.submenu {
    top: -69px !important;
}
.nav-sections-item-content  .nav-1-4 ul.level1.submenu {
    top: -92px !important;
}
.nav-sections-item-content  .nav-1-5 ul.level1.submenu {
    top: -115px !important;
}
.nav-sections-item-content  .nav-1-6 ul.level1.submenu {
    top: -138px !important;
}
.nav-sections-item-content  .nav-1-7 ul.level1.submenu {
    top: -161px !important;
}
.nav-sections-item-content  .nav-1-8 ul.level1.submenu {
    top: -184px !important;
}
.nav-sections-item-content  .nav-1-9 ul.level1.submenu {
    top: -207px !important;
}
.nav-sections-item-content  .nav-1-10 ul.level1.submenu {
    top: -230px !important;
}
.nav-sections-item-content  .nav-1-11 ul.level1.submenu {
    top: -253px !important;
}
.magicmenu .nav-desktop .level0.dropdown .hasChild:hover > ul, .vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild:hover > ul {
    opacity: 1;
    visibility: visible;
    min-height: 300px;
}
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild ul li {
    min-width: 300px;
    float: left;
}
.vmagicmenu .block-vmagicmenu-content .vmagicmenu-narrow {
    box-shadow: 6px 9px 16px -3px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 6px 9px 16px -3px rgb(0 0 0 / 75%);
    -moz-box-shadow: 6px 9px 16px -3px rgba(0,0,0,0.75);
}

.vmagicmenu .all-cat span {
    display:none;
}
.level0 .submenu li:hover{
    background-color: #eee;
}

.header-sticker.header-container-fixed .vmagicmenu .block-title .icon-menu:after {
    content: "Categorias";
    color: #333e48;
    font-weight: bold;
}
.header-sticker.header-container-fixed .vmagicmenu .block-title .icon-menu:before {
        color: #333e48 !important;
    font-weight: bold;
}

.nav-sections .navigation-mobile ul li {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    /* padding-left: 31px; */
}

.nav-sections .mean-nav ul li a {
    color: #444444;
    border-color: #dfdfdf;
    padding-left: 7px;
}


 .nav-sections-item-content ul.level1.submenu {
    position: absolute !important;
}

.nav-sections .navigation-mobile ul>li>a:hover {
  background-color: #d0d0d0;
}

/* fim correção Menu Bugado*/


/*CHECKOUT visual*/

input.input-text.cvv.cc_cid {
    width:80px !important;
}

.checkout-payment-method .payment-method-title {
    border-top: 1px solid #cccccc;
    padding: 20px 0;
    margin: 0;
    background-color: #ececec;
    padding: 10px;
}
.payment-method._active {
        border-left: 1px solid #cfcfcf;
        padding: 10px 0px 10px 10px;
}
#block-discount-heading{
    background-color: #fed700;
    padding: 10px;
    border-radius: 20px
}

.subtotal .price-excluding-tax .cart-price .price:before{    
    color: black;
    content: "Valor à vista: ";    
}

.subtotal .price-excluding-tax .cart-price .price:before{
    
    color: black;
    content: "Valor à vista: ";
    
}

tr.grand.totals .amount .price:after{
    display:block;
    content:"de acordo com a forma de pagamento escolhida";
    font-weight: 100;
    color:black;
    font-size: 1rem;
    
}

/*fim CHECKOUT visual*/

/* Botao Comprar Categoria em LISTA */
.products.wrapper.list .product-item .actions-primary .tocart span {   
    font-size: 1.2rem;   
}
/* fim Botao Comprar Categoria em LISTA */

/* Botão Boleto checkout/onepage/success */
a#pagarme-link-boleto {
    margin-left: calc(50% - 50px);
    background-color: #fed700;
    padding: 4px;
}
a#pagarme-link-boleto:before {
    /* font-family: "Font Awesome"; */
    content: "\f02f";
    font-family: FontAwesome;
}
/*fim  Botão Boleto checkout/onepage/success */

@media (min-width: 768px){
    .magicmenu .nav-desktop .level0.dropdown li {
        margin: 0;
        padding: 14px 0;        
        float: left;
        min-width: 250px;
    }
    .magicmenu .nav-desktop .level0.dropdown .hasChild ul, .vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild ul {        
        min-width: 762px;        
    }
}

/*fim ajuste MENU magicCart submenu level1*/

/*ajuste visual menu MOBILE abre/fecha */
.nav-sections .navigation-mobile ul li .expand:hover, .nav-sections .navigation-mobile ul li .collapse:hover {
    background-color:#000000 !important;
    color: white
}
/* fim ajuste visual menu MOBILE abre/fecha/*

/* ajusta Minhaarea menu header*/
.customer-menu .links header li{
  font-size: inherit;
 margin-right: 0;
}
@media screen and (max-width: 767px){
    .header .righ-header-content .top-link-product {
        display: block;
        
    }
    div#blocoInformacoesCliente {
        display:none;
    }
    .top-link-product{
        max-width:70px;
    }
    .header .header-account .toggle-content {  
        top: calc(100% + 40px);
      
    }
    .header.header-sticker .header-top .container .row .header-top-right .header-top-link.header-account {
        display:none;
    }


}
/* FIM ajusta Minhaarea menu header*/

/* ajuste CSS CEP Carrinho checkout */
.estimate .field.note{
 display:none;
}

[name$=country_id]{
 display:none;
}

/* ajuste CSS CEP produto */
div#dominik-estimate  {
    margin-top: 30px;
}
button#btn-estimate-shipping {
    margin: 0px 0px -2px 10px;
    zoom: 0.9;
    color: black;
}
div#dominik-estimate .fieldset .field label{
    display:none;
}

div#dominik-estimate a{
    margin: 10px;
    display:block;
}
button#btn-estimate-shipping.loading-estimate-icon:before {
    content: "\f254";
    color: #000000;
    font-family: FontAwesome;
    font-size: 18px;
    
}
button#btn-estimate-shipping.loading-estimate-icon {
        font-size: 0px;    
}

ul#shipping-estimate-results li ul{
    padding-left: 0px;    
    min-width: max-content;
}

ul#shipping-estimate-results>li{
    padding-left: 0px;    
}

/* fim ajuste CSS CEP produto */

/* ajuste botao CriarConta modal NewCustomer checkout */
.checkout-cart-index .block-new-customer .block-content .actions-toolbar a.action span {
     display: block !important; 
}
/* fim ajuste botaoCriarConta modal NewCustomer checkout*/

/* ajuste Block 3 widgets bottom */
.cms-static-mix-custom-product .container{
    background-color: white !important;
    padding: 20px;
    border-radius: 10px
}
/* FIM ajuste Block 3 widgets bottom */

/* ajuste ordem installmentPrice ProductList */
.product-item-details .product.actions.product-item-actions .price-box.price-final_price,
.product-item .images-container .hover-box .product.actions .price-box.price-final_price {   
    order: 0;
}
.product-item-details .product.actions.product-item-actions .actions-primary,
.product-item .images-container .hover-box .product.actions .actions-primary {
    order:1
}
.product-item-details .product.actions.product-item-actions .price-container:first-child:before,
.product-item .images-container .hover-box .product.actions .price-container:first-child:before,
.product-item-details .products-textlink .product.actions .price-container:first-child:before,
.product-item-details.products-textlink .price-container:first-child:before,
.product-info-main .product-shop-content .product-info-price .price-container .price-container:first-child:before
{
    font-family: FontAwesome;
    content: "\f09d";
    color: #4685ff;
}
.product-item-details .product.actions.product-item-actions .price-container,
.product-item .images-container .hover-box .product.actions .price-container {
    width: 100%;
    order:2;
}
/*FIM  ajuste ordem installmentPrice ProductList */

/* ajuste installmentPrcei Productpage */
.price-container.price-installment_price .price-container{
    display: block;
}
.price-container.price-installment_price{
    display:none;
    padding:10px;
    position: absolute;
    background-color: white;
    z-index: 9999;
    border: 2px solid rgba(211, 211, 211, 0.58);
    box-shadow: rgb(0 0 0) 0px 10px 13px -7px, rgb(0 0 0 / 0%) 5px 5px 15px 5px;
}
div#payment_method .price-container{ 
    display:block;
}

.price-container.price-installment_price {
    display: none;
    padding: 10px;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    border: 2px solid rgba(211, 211, 211, 0.58);
    border-radius: 11px;
    /* box-shadow: rgb(0 0 0) 0px 10px 13px -7px, rgb(0 0 0 / 0%) 5px 5px 15px 5px; */
    -webkit-box-shadow: 23px 30px 50px -31px rgb(0 0 0 / 75%);
    -moz-box-shadow: 23px 30px 50px -31px rgba(0,0,0,0.75);
    box-shadow: 23px 30px 50px -31px rgb(0 0 0 / 75%);    
}
span.fecha-forma-pagamento {
    background-color: black;
    padding: 5px 10px 5px 11px !important;
    margin: 5px 5px 5px 85%;
    color:  white;
    border-radius: 9px;
    position: absolute;
    top: -21px;
    font-size: 15px;
    cursor: pointer;
}
/* imagens forma de pagamento somente produto */
.somente.produto,.somente-produto {
    display:none;
}
.price-container.price-installment_price .somente.produto,
.price-container.price-installment_price .somente-produto {
    display:block;
}
span.fecha-forma-pagamento:hover {
    background-color: #fed900;
    color:  black;    
}
.price-installment_price span:nth-child(4) span {
    font-weight: 800
}

.product-shop-content > .product-info-price > .price-box > .price-container > .price-wrapper  > .price:after,
.product-shop-content > .product-info-price > .price-box > .special-price >.price-container > .price-wrapper  > .price:after{
/*    content: " já com 5% de desconto";        */
    font-weight: 700;
    font-size: 12px;
    color: green;    
}
span.total-parcelado {
    display:block;
    font-weight: 700;
    font-size: 18px;
}
.product-shop-content > .product-info-price  .price-box.price-final_price{
    display:grid;
}
.product-shop-content > .product-info-price > .price-box > .old-price >.price-container > .price-wrapper  > .price:before{
    content: " De: ";
    font-weight: 700;
    font-size: 12px;
    color: green;
}

.product-shop-content > .product-info-price > .price-box > .old-price >.price-container{
    margin-bottom: 0px;
}
.product-shop-content > .product-info-price > .price-box > .old-price{
	order:1
}
.product-shop-content > .product-info-price > .price-box > .special-price{
	order:2
}



a.forma-pagamento {
	background-color: #e0e0e0;
	padding:6px;	
	margin: 10px 10px 10px 10px;
	border-radius: 10px;
	    -webkit-box-shadow: 23px 30px 50px -31px rgb(0 0 0 / 75%);
    -moz-box-shadow: 23px 30px 50px -31px rgba(0,0,0,0.75);
    box-shadow: 23px 30px 50px -31px rgb(0 0 0 / 75%);
	cursor: pointer;
	
}
a.forma-pagamento:hover {
	background-color:#fed000
	
}


/* FIM ajuste installmentPrice Productpage */

/* ajuste header PRETO */
.header .minicart-wrapper .showcart .cart-icon .counter.qty {
    background-color: #ffffff;
    bottom: 27px;
}
.header .minicart-wrapper .showcart .minicart-text .price {
    color: #fed900; 
}
.header .minicart-wrapper .showcart .cart-icon:before {
    content: "\f07a";
    color: #fed900;
    font-family: FontAwesome;
}


/* fim ajuste header PRETO */

/* ajuste  Retira installmentPrice desnecessarios*/
.notify-slider-wrapper div.price-container{
display:none;
}
/* FIM ajuste retira installmentPrice desnecessarios/*

/* Efeitos Categoria widget*/
.res-desktop div div.magicslider div.slick-list div.slick-track div.slick-slide div div.alo-item a picture img:hover{
	    filter:grayscale(0);
	    transform: scale(1.05);
	    transition: 500ms;
}
.res-desktop div div.magicslider div.slick-list div.slick-track div.slick-slide div div.alo-item a picture img{
	    filter:grayscale(1);
	    transition: 500ms;
}

/* Fim Efeitos Categoria widget*/ 

/* Ordem titulo produto */
.item .images-container {
    display: grid;
}
.product-item .product-item-info .product-hover { 
    order: 0;
}
.product-item .product-item-info .product-name {
    order: 1;
}
.hover-box {
    order:2
}
/*fim Ordem titulo produto */

/* Faixa de Brands na HOME */
div#cms-static-brands {
        background-color: white;
    margin: 40px 0px 0px 0px;
    padding: 20px;
}
/*fim  Faixa de Brands na HOME */


/* TEMA SUGESTÃO */

/* Cor Modal Header Dominik express */
.modal-dominik-express h1.modal-title {
        background: rgb(14,113,0);
    background: linear-gradient(90deg, rgba(14,113,0,1) 0%, rgba(9,121,24,1) 31%, rgba(0,255,25,0) 100%);
    color: white;
}
/* fim Cor modal header dominik express */


span.pronta-entrega {
         order: 2;
    font-weight: bold;
    color: #18ab18;
    position: relative;
    display: block !important;
    margin: -4px auto;
    padding: 0px 0px 0px 0px;
    height: 35px;
    cursor: pointer;
}
.bloco-central span.pronta-entrega {
    zoom: 0.7
}

@media (max-width:1200px){
    .product-item-info span.pronta-entrega {
        zoom:0.75;
    }
}

@media (max-width:991px){
    .product-item-info span.pronta-entrega {
        zoom:0.79;
    }
}

@media (max-width:991px){
    .product-item-info span.pronta-entrega {
        zoom:0.79;
    }
}

@media (max-width:768px){
    .product-item-info span.pronta-entrega {
        zoom:0.65;
    }
}
@media (max-width:540px){
    .product-item-info span.pronta-entrega {
        zoom:0.65;
    }
}

/*ajusta espaço do pronta-entrega no ultimo bloco da home*/
.per-product .hover-box.clearfix {
    margin-top: -34px !important;
}
.cms-index-index #maincontent {
    padding: 10px;
    border-radius: 10px;
}


#cms-static-fearured-products .slick-slide {
    background-color:white;
    margin: 3px !important;
/*    zoom:0.9750;*/
}

.item:hover .actions .add-to-links {
    visibility: visible;
    opacity: 1;
    bottom: -80px; 
  
}

span.sticker:hover:before {
  opacity: 0.25 !important;  
    transition: 250ms ease
  
}
span.sticker.top-left:not(:hover):before {
  
    transition: 250ms ease
  
}

.product-item:hover a.product.photo.product-item-photo:after {
    content: 'Detalhes';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: #fed900;
    color: black;
    text-align: center;
    width: 100%;
}
/*banner lateral some em tela pequena do segundoBlocoItensHome*/
@media screen and (max-width: 767px){
    .box-product-adv {
         display:none !important; 
    }    
    .bloco-final .box-product {
        max-width: 100% !important;
    }
}
/* esconde titulo bloco segundo bloco da home*/
.bloco-final h3.title {
    display:none;
}

/* FIM TEMA SUGESTÃO */

/* Ajuste Item com TIMER home */

.clona-timer div .block-title-tabs.clearfix{
    display:none;
}

.clona-timer{
float: left;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
    border-left: 2px solid yellow !important;
    border-right: 2px solid yellow !important;
    border-radius: 25px;    
}
.clona-timer .product-hover {
    text-align: center;
}
.clona-timer .item:hover .product-item-info {
    box-shadow: unset; 
    padding-bottom: unset; 
    margin-bottom: unset;
    position: relative; 
    z-index: 9; 
    background-color: #fff;
}
.clona-timer .special-product-label,
.clona-timer .icon-clock,
.clona-timer .pronta-entrega
{
   display:none !important;
}


/*fim Ajuste Item com TIMER home */

/* Consulta CEP Estimate */

ul#shipping-estimate-results, ul#shipping-estimate-results li{
   list-style: none;      
    margin-block-start: 1em;
    margin-block-end: -1em;
    margin-inline-start: 0px;
    margin-inline-end: 10px;
    padding-inline-start: 10px;
   max-width: 500px;   
   /*padding-right: 34px;*/
   
}
ul#shipping-estimate-results{   
   padding:10px 15px 20px 15px;
   background-color:#f1f1f1;
   border-radius: 10px;
-webkit-box-shadow: 23px 30px 50px -31px rgba(0,0,0,0.75);
-moz-box-shadow: 23px 30px 50px -31px rgba(0,0,0,0.75);
box-shadow: 23px 30px 50px -31px rgba(0,0,0,0.75);
}
ul#shipping-estimate-results span{   
   font-weight: 400;
}
ul#shipping-estimate-results li span:nth-child(2){
   float:right;
   font-weight: 600;
}
ul#shipping-estimate-results li{
   margin:0px;      
}

#shipping-estimate-results li ul li span.title {
    position:relative;    
}
#shipping-estimate-results li ul li span.title span.frete-gratis{
    position:absolute;
    width: 240px;
    top:-35px;
    left: 75px;
    background-color: #005a25;
    padding: 7px;
    border-radius: 25px 15px 25px 0px;
    color: white;
}

/*ul#shipping-estimate-results span.title {
    max-width: 234px;
    overflow: hidden;
    display: inline-flex;
}*/



/* fim Consulta CEP Estimate */


/* Header gradiente */

.header-content.menu-mobile {
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgb(80 80 80) 0%, rgb(0 0 0) 51%, rgb(73 73 73) 100%);
}

/* fim Header gradiente */

 .page-header .header-container-fixed .header-content {
    display: block;
     padding-top:5px;
     padding-bottom:5px;
}


/* Ajuste Bloco Final */

.bloco-final  ul.magictabs.toggle-content.clearfix {
    text-align: center;
}
.bloco-final .box-product-adv{
        flex: 0 0 25%;
    max-width: 25%;
   
    display: inline-block;
    vertical-align: top;
}
.bloco-final .box-product{
        flex: 0 0 70%;
    max-width: 70%;
   display: inline-block;
        overflow-x: clip;
}
.bloco-final{
    margin-top: 30px;
}

@media screen and (min-width: 540px){
    .bloco-final .slick-track {
        left:70px;
    }
}

/* fim Ajuste BLoco Final */


/* remove Descricao da Categoria
  --deve-se aprimorar para colocar um LEIA MAIS--  DESABILITADO

    .category-description{
          display:none;
    }
.catalog-category-view h1.page-title span.base:after {
    content: 'Leia mais';
    margin-left:10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 7px;
    border-radius: 5px;
}
 fim remove Descricao da Categoria */


/* Campos obrigatório cadastro cliente */
[name='shippingAddress.vat_id'] span:after{
    content:" *";
    font-weight: 600;
}
.field.additional[name='shippingAddress.street.1']:before {
    content:"Número *";
    font-weight: 600;
}
.field.additional[name='shippingAddress.street.2']:before {
    content:"Bairro *";
}
.field.additional[name='shippingAddress.street.3']:before {
    content:"Complemento (opcional)";
}
/* fim Campos obrigatório cadastro cliente */

/* Mensagem Confirmação Newsletter */
.cms-index-index .page.messages {
    display: block; 
}

/* FIM Mensagem Confirmação Newsletter */


/* ajuste Primeiro slider de produto */

.bloco-final ul.magictabs.toggle-content.clearfix{
    display:none;
}

/* Ajuste botão Produto alerta falta estoque*/
a.action.alert {
    background-color: #dddcdc;
    border-radius: 12px;
    font-weight: 700;
}
/*FIM Ajuste botão Produto alerta falta estoque*/

/* Ajuste MODAL Adiciona ao carrinho mobile */

@media only screen and (max-width: 768px){
    .modal-popup.modal-slide.modals-ajaxcart .modal-inner-wrap {  
        border-radius: 5px;
        min-height: 200px;
    }
    .modal-popup.modal-slide._inner-scroll._show {
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        background-color: #00000078;
    }
}
/*FIM  Ajuste MODAL Adiciona ao carrinho mobile */

/* ajusta MENU Tayner Vibbra */
.vmagicmenu .vmagicmenu-narrow>li:nth-child(n+13) {
    display:block !important;
}
.vertical-menu .nav-desktop  {      
    overflow-y: scroll;
    position: static;
    max-height: 440px !important;
}

.vertical-menu .nav-desktop ul {
  
    height: 180px !important;
}
.vmagicmenu .block-vmagicmenu-content .vmagicmenu-narrow {
    box-shadow: 6px 9px 16px -3px rgb(0 0 0 / 75%) !important;
    -webkit-box-shadow: 6px 9px 16px -3px rgb(0 0 0 / 75%) !important;
    -moz-box-shadow: 6px 9px 16px -3px rgba(0,0,0,0.75) !important;
}
.vmagicmenu .nav-desktop.vmagicmenu-narrow>.level0:hover a.level-top {
    font-weight: unset;
    
}
.vmagicmenu .level0 .level-top-mega .children a:hover, .vmagicmenu .vmagicmenu-narrow .level0.dropdown .level1 a:hover {
    color: unset;
}

/* FIM Ajusta MENU Tayner Vibbra /*

/* ajuste DOT slider */
.static-home-slide .magicslider .slick-dots li:hover button,.static-home-slide .magicslider .slick-dots li.slick-active button {
    background: #fed900;
    height: 15px;
    border: 2px solid #000000;
}

/*FIM  ajuste DOT slider */

/* Esconde descrição categoria */
.category-description{
 display:none;
}
/* FIM Esconde descrição categoria */

/* Ajuste Barra lateral de Categorias */

@media screen and (min-width: 768px){
ul::-webkit-scrollbar {
    width: 3px;
}
}
.vertical-menu ul::-webkit-scrollbar {
    width: 3px;
}
@media screen and (min-width: 768px){
ul::-webkit-scrollbar-thumb {
    background-color: #fed900;
    border-radius: 2rem;
    border: #fff;
}
}
ul::-webkit-scrollbar-thumb {
    background-color: #fed900;
    border-radius: 2rem;
    border: #fff;
}
::-webkit-scrollbar-thumb {
    background-color: #fed900;
    border-radius: 2rem;
    border: #fff;
}

.accordion-container .meanmenu-accordion.menu-init .accordion.nav-accordion .level0.category-item ul.level0.submenu{
    direction: rtl;
    position: static;
    height: 300px;
    overflow-y: scroll;
}
/* Ajuste Barra lateral de Categorias */

/* ajuste remove linha header */
@media screen and (max-width: 767px){
    .header .righ-header-content .top-link-product {
        display: block;
        
    }
    div#blocoInformacoesCliente {
        display:none;
    }
    .top-link-product{
        max-width:70px;
    }
    .header .header-account .toggle-content {
        top: calc(100% + 40px);
        right: 1px;
        left: -50px;
        padding:5px;
        width: 36px !important;
    }
    
    .header .header-account .toggle-content {
        min-width: 150px;
        z-index: 2;
        display: none;
    }

        
    .header.header-sticker .header-top .container .row .header-top-right .header-top-link.header-account {
        display:none;
    }


}

/*FIM ajuste remove linha header */

/* ajuste modal adiciona no carrinho */

.modal-popup.modals-ajaxcart .actions span{
    color: black;
    font-weight: 700
}

/* FIM ajuste modal adiciona no carrinho */

/* Ajuste Shop Brand quando filtrado por BRANDS */
 .block.filter .block-title.filter-title strong {
    min-width: 149px;
}

@media screen and (max-width: 480px){
   .brand-search-sidebar .block.filter .block-title.filter-title {
        top: -51px !important;
        /* right: unset; */
        margin-left: calc(calc(-166px + 100vw ));
        /* left: unset; */
    }
}
/* FIM Ajuste Shop Brand quando filtrado por BRANDS */

/* Ajuste destaque regra catalogo */
.product-info-main.product-shop.col-md-6.col-12.col ul.prices-tier.items {
    zoom:1.5;
}
/* FIM Ajuste destaque regra catalogo */

/* Item Menu Site Aço*/

.item-menu-destaque{
    background-color: white;
    background-image: url(https://acos.dominik.com.br/wp-content/uploads/2022/05/Banner-site-aco-inox-1.jpg);
    background-size: 550%;
    background-position-x: 37%;
    color: white;
    background-position-y: 53%;
}
/*
.item-menu-destaque{
    background-image: url(https://dominik.com.br/media/wysiwyg/search_black2022.png);
    background-size: contain;
}*/

.magicmenu .nav-desktop .level0 .level-top .cat_label, .magicmenu .nav-desktop .level0 .cat_label, .mean-container .mean-nav ul li a span.cat_label, .vmagicmenu .level0 .cat_label, .vmagicmenu .level0 .level-top-mega .children .cat_label {
    color: #ffc600;
    background-color: rgb(0 0 0 / 37%);
    border-color: #ededed;
}
.item-menu-destaque a.level-top {
    color: white !important;
}
/* Fim item menu site aço */

/* Ajuste Endereços Minha conta */
.field.street .control .nested .field.additional label {
    border: unset;
    clip: unset;
    height: unset;
    margin: unset;
    overflow: hidden;
    padding: unset;
    position: unset;
    width: unset;
}
/* Fim Ajuste Endereços Minha conta */

/* Nova cor Preço Especial Produto */
.price-box>.price-container .price, .price-box .special-price .price {
    color: #5bb300 !important;
    margin-right: 5px;
    font-weight: 600 !important;
}

/* FIM Nova cor Preço Especial Produto */

/*ajuste endereço checks no fim*/
#opc-new-shipping-address .field.choice, .form-address-edit .message.info {
    order:30
}
 .input-text.campo-errado{
    border-color: red !important;
}

/* FIM ajuste endereço checks no fim */


/* Dominik Express Produto */

@media (min-width: 1200px){
    .custom-html:after {
        background-image: url(https://dominik.com.br/media/wysiwyg/modelo-produto-03.png);
        background-size: cover;
        display: block;
        width: 500px;
        height: 47px;
        content: "";
    }
}
@media (max-width: 1199px){
    .custom-html:after {
        background-image: url(https://dominik.com.br/media/wysiwyg/modelo-produto-03.png);
        background-size: cover;
        display: block;
        width: 450px;
        height: 42px;
        content: "";
    }
}
@media (max-width: 991px){
    .custom-html:after {
        background-image: url(https://dominik.com.br/media/wysiwyg/modelo-carrossel-02.png);
        background-size: cover;
        display: block;
        width: 320px;
        height: 40px;
        content: "";
    }
}
@media (max-width: 768px){
    .custom-html:after {
        background-image: url(https://dominik.com.br/media/wysiwyg/modelo-carrossel-02.png);
        background-size: cover;
        display: block;
        width: 500px;
        height: 63px;
        content: "";
    }
}
@media (max-width: 480px){
    .custom-html:after {
        background-image: url(https://dominik.com.br/media/wysiwyg/modelo-carrossel-02.png);
        background-size: cover;
        display: block;
        width: 400px;
        height: 50px;
        content: "";
    }
}

/* fim ajuste dominik express produto*/

/* CAMPANHA AÇO NA BUSCA */

a span.search-site-aco-filho.item-menu-destaque {
    width:100% !important;
    margin: 0 auto !important;
    padding: 10px;
    border-radius: 100px;    
    display:block;
    
}

/* FIM CAMPANHA AÇO NA BUSCA*/

.bloco-final .slick-track {
    margin-top: 13px;
}

/* ajuste estrelinhas */
.item:hover .product-item-info .product-reviews-summary {
    top:40px;
    position:relative;    
    margin-left: 40px !important;
}
/* fim ajuste estrelinhas */

@media screen and (max-width: 991px){
    .static-home-slide .slick-slide img {
        min-height: 280px;
    }
}

/* ajustes Avançar para checkout > Finalizar compra e cor verde*/
.block-minicart .block-content .actions .primary .action.primary.checkout {
    color: #ffffff !important;
    background-color: #5bb300 !important;
    border-color: #5bb300 !important;
}
/* fim ajustes Avançar para checkout > Finalizar compra e cor verde*/

/* Ajuste destaque frete carrinho */
.cart-summary .block .fieldset .field {
    margin: 0 0 20px !important;
}

.col.col-carrier{
    display:none !important;
}


fieldset.fieldset.rate dl.items.methods dd.item-options div:not(.field.choice.item) {
    margin-top: -20px;
    margin-bottom: 20px;
    border-bottom: 1px solid red;
    font-size: 16px;
    font-weight: 800;
}


td[colspan="4"]:not([data-bind="html: method.comment"]){
    font-size: 15px;
    padding:0 !important;
    position: relative;
    width: 141px !important;
    top: -15px;
    left: px;
    border-radius: 25px;
    border: 1px red solid;
    font-weight: 800;
}

@media (max-width:480px){
    td[colspan="4"]:not([data-bind="html: method.comment"]){
        font-size: 15px;
        padding:0 !important;
        position: relative;
        width: 141px !important;
        top: -30px;
        left: px;
        border-radius: 25px;
        border: 1px red solid;
        font-weight: 800;
    }

}

/* fim ajuste destaque frete carrinho*/

/* Inicio Ajuste busca 2 itens por linha*/

@media (max-width: 540px){
    .suggest {
        display:none;
    }
    .searchsuite-autocomplete div.product>ul#product{
        display: flex;
  flex-wrap: wrap;
    }
    .searchsuite-autocomplete div.product>ul#product li{
          flex: 50%;
          padding: 5px !important;
    }
 
    body .searchsuite-autocomplete ul li .qs-option-image {
        display: block !important;
      max-width:120px;
      width:100%;
      height:auto;

    }
    
    .searchsuite-autocomplete div.product>ul#product li .qs-option-description{
        display:none;
    }
    .searchsuite-autocomplete {
          width: 340px;
          height: 90vh;
            max-height: 550px !important;
          border-radius: 3%;
          border:2px  #fed900 solid ;      
      }
    .searchsuite-autocomplete .cat_label.Novo{
          display: block;
    }       
    .searchsuite-autocomplete div.product>ul#product li {
        flex: 50%;
        padding: 20px;
    }

}
@media screen and (max-width: 991px){
.header .search-area .toggle-content {
    position: absolute;
    top: calc(-10% + 10px) ;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 109;
    display: none;
    right: auto;
}
}


/* fim Inicio Ajuste busca 2 itens por linha*/

/* filtros da busca */
.filter-current.active .item{
    background-color:#fff6c3;
    padding: 1px 10px 1px 10px;
}
.filter-current.active .item .action{
    float:right;
    background-color:#ffdf2d;
    padding: 1px 10px 1px 10px;
    border-radius: 5px;
}
/* fim filtros da busca*/

/* Ajuste Botão cadastrar para clientes visitantes */

@media (min-width:768px){
    div#registration{
        padding: 10px 200px 10px 200px;
    }
}
div#registration>div:nth-child(3){
    background-color: #dfdfdf;
    text-align: center;
    padding: 10px;
    border-radius:10px;
    box-shadow: 5px 10px 20px 0.1px #a7a7a7;
    margin-bottom: 40px;
}

.checkout-success {
    text-align: center;
    padding: 20px;
}
.checkout-success>p:first-child {
    text-align: center;
    padding: 20px;
    font-size:x-large;
    font-weight:600;
}

div#registration>div a.action.primary {
      color: #333e48;
    background-color: #fed700;
    border-color: #fed700;
    padding:10px 40px;
    font-weight:800;
    border-radius:20px;
    
}
/* fim  Ajuste Botão cadastrar para clientes visitantes */
/* cor erro bandeira cartao  em pagamento */
.field.type.new._error .field-error {
    color: #fff;
    padding: 5px 5px 5px 15px ;
    background-color: #e55151;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
}
/* fim cor erro em bandeira cartão em pagamento*/

/*mailchimp*/
.mc-layout__bannerContent iframe { 
    height: auto !important
}

.mc-layout__modalContent {
    max-height: 610px!important;
    overflow: hidden!important;
}

.content__monkeyRewards > a > img {
    display:none;
}

/* Tentativa de Controlar o MailChimp banner */
.mc-banner {
    visibility:hidden
}

@media only screen and (max-width: 768px){
    .mc-banner {
        visibility: hidden !important;
        z-index: 9999;
    }
}
@media only screen and (max-width: 768px){
    .mc-modal .mc-layout__modalContent /*.mc-modal-bg*/  {
        visibility: visible;
        margin: 10px 10px 10px 10px ;
        width: 95% !important;
        border-top: 2px solid #c5c5c5;
        border-left: 2px solid #c5c5c5;
        border-right: 2px solid #c5c5c5;
        height: 80vh;
    }    
}

.content__monkeyRewards{
    visibility:hidden !important;
}
@media only screen and (max-width: 768px){
    .mc-modal, .mc-modal-bg {
        visibility: visible !important;
    }
}
