<?php
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
?>

<?php
/**
 * @var $block \Magefan\WebP\Block\Adminhtml\System\Config\Form\ProgressBar
 */
?>

<div class="progress">
    <?php
    $info = $block->getWebPGenerationInfo();
    ?>

    <?php if (isset($info['done'])) { ?>
        <div style="text-align: center;">
            <span><?= __('All Images Converted') ?></span>
        </div>
    <?php } ?>


    <?php if (isset($info['count_of_images_to_convert']) && $info['count_of_images_to_convert']) { ?>
        <div class="info">
            <span><?= __('Images To Convert:') ?></span>
            <span><?= $info['count_of_images_to_convert'] ?></span>
        </div>
    <?php } ?>

    <?php if (isset($info['count_of_images_converted_per_last_24_hours'])) { ?>
        <div class="info">
            <span><?= __('Converted Per Last 24 hours:') ?></span>
            <span><?= $info['count_of_images_converted_per_last_24_hours'] ?></span>
        </div>
    <?php } ?>

    <?php if (isset($info['avg_count_of_images_converted_per_hour'])) { ?>
        <div class="info">
            <span><?= __('Converted Per Hour:') ?></span>
            <span><?= $info['avg_count_of_images_converted_per_hour'] ?></span>
        </div>
    <?php } ?>

    <?php if (isset($info['hours_to_convert_all_images'])) { ?>
        <div class="info">
            <span><?= __('Will be Converted In:') ?></span>
            <span style="font-size: 12px;">
                    <?= __('Hours: %1', $info['hours_to_convert_all_images']['hours']) ?>
                    <br>
                    <?= __('Days: %1',  $info['hours_to_convert_all_images']['days']) ?>
                </span>
        </div>
    <?php } ?>

    <?php if (isset($info['no_enough_data'])) { ?>
        <div style="text-align: center; margin-top: 10px;">
            <span><?= $info['no_enough_data'] ?></span>
        </div>
    <?php } ?>
</div>

<style>
    .progress .info {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        background-color: #145d0469;
        padding: 5px 9px;
        border-radius: 5px;
        align-items: center;
    }

    .progress {
        padding: 5px 10px 10px 10px;
        color: #fff;
        background-color: #145d047d;
    }
</style>
