<?php $_product = $this->getProductInfo() ?>
<div id="dominik-estimate">
    <h3><?= __('Estimate shipping') ?></h3>
    <div class="fieldset">
        <div class="field postcode">
            <label class="label" for="dominik-postcode"><span><?= __('Postcode') ?></span></label>
            <div class="control">
                <input type="text" minlength="8" maxlength="8" oninput="this.value=this.value.replace(/[^0-9]/g,'');" name="dominik-postcode" id="dominik-postcode" title="<?= __('Postcode') ?>" class="input-text dominik-postcode mask-cep" placeholder="<?= __('Type your Postcode (just numbers)') ?>" >
            </div>
        </div>
        <div class="postcode-action">
            <button name="btn-estimate-shipping" id="btn-estimate-shipping" type="button" title="<?= __('Estimate shipping') ?>" class="action primary tocart"><?= __('Estimate shipping') ?></button>
        </div>
    </div>
    <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/BuscaCepEndereco.cfm" target="_blank" title="<?= __('I do not know the postcode') ?>"><?= __('I do not know the postcode') ?></a>
    <ul id="shipping-estimate-results"></ul>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "dominikShipping": {
            "product_id": "<?= $_product->getId(); ?>",
            "form_key": "<?= $this->getFormKey(); ?>",
            "product_type": "<?=$_product->getTypeId()?>"
        }
    }
}
</script>
