<?php
/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author: DOng NGuyen<nguyen@dvn.com>
 * @@Create Date: 2016-01-08 22:57:12
 * @@Modify Date: 2018-03-14 23:53:30
 * @@Function:
 */
 ?>
<?php if(!$this->getStatus()) return; ?>
<?php $selector = 'alo-content-'.uniqid(); ?>
<div class= "<?php echo /* @escapeNotVerified */ $selector?> magicproduct autoplay">
<?php
$tabs = $this->getTabs();
$numTabs = count($tabs);
if($numTabs): ?>
    <div class="block-title-tabs">
	<ul class="magictabs" data-ajax ='<?php /* @escapeNotVerified */ echo $this->getAjaxCfg() ?>'>
	<?php $activated = $this->getTabActivated();
		$limit = $this->getLimit();
		$single = ($numTabs ==1) ? 'single' : '';
		foreach ($tabs as $type => $name):
			$status  = (!$this->getAjax() || $activated ==$type) ? 'loaded' : '';
			$status .= ($type == $activated) ? " activated $single" : '';
			/* @escapeNotVerified */ echo '<li class="item '.$status.'" data-type ="'.$type.'"><span class ="title">'.__($name).'</span></li>';
		endforeach;
	?>
	</ul>
    </div>
<?php endif ?>
	<div class="ajax_loading" style="display:none" data-url="<?php /* @escapeNotVerified */ echo $this->getUrl('magicproduct/index/product', array('_secure'=>$this->getRequest()->isSecure()))?>"></div>
	<div class="content-products" 
	<?php foreach ($this->getFrontendCfg() as $opt) :?>
		data-<?php /* @escapeNotVerified */ echo $opt ?>='<?php /* @escapeNotVerified */ echo $this->getData($opt) ?>'
	<?php endforeach;?>        
	>
	<?php 
		$timer = $this->getTimer();
		if($timer) echo $this->getContent('product/gridtimer.phtml');	
		else echo $this->getContent('product/gridcustoms.phtml');	
	?>
	</div>
</div>